$primary-color-blue1: #B9D5E5;
$primary-color-blue2: #8BB9D5;
$primary-color-blue3: #458FBC;
$primary-color-blue4: #0065A3;
$primary-color-blue5: #005386;
$primary-color-blue6: #003859;
$primary-color-blue7: #00253C;

$primary-color-green1: #D3EEDC;
$primary-color-green2: #93D6A9;
$primary-color-green3: #68C687;
$primary-color-green4: #12A643;
$primary-color-green5: #0F8837;
$primary-color-green6: #0A5B25;
$primary-color-green7: #073D19;

$primary-color-snow: #FCFAFA;

$primary-color-gray1: #E6EBEB;
$primary-color-gray2: #D2DBDC;
$primary-color-gray3: #C8D3D5;
$primary-color-gray4: #A4ADAF;
$primary-color-gray5: #929A9B;
$primary-color-gray6: #5B6061;
$primary-color-gray7: #373A3B;

$primary-color-black1: #9A9696;
$primary-color-black2: #5D5757;
$primary-color-black3: #211818;
$primary-color-black4: #191212;
$primary-color-black5: #0F0B0B;